################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/zeitara_backend/.vs/zeitara_backend/FileContentIndex/b886dddc-d351-40e8-bd60-903271ed4736.vsidx
/zeitara_backend/.vs/zeitara_backend/v17/.suo
/zeitara_backend/.vs/zeitara_backend/v17/DocumentLayout.json
/zeitara_backend/.vs/zeitara_backend/FileContentIndex
/zeitara_backend/.vs
