<section class="flex flex-col p-4 m-2 w-fit">
  <h1 class="text-6xl font-bold mb-4">
    Zeitara<span
      class="font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600"
      >AI</span
    >
    Shopping
  </h1>
  <h2 class="text-4xl font-bold mb-4">Shopping Made Convenient</h2>

  <section class="flex flex-col gap-2">
    <label for="username">Username: </label>
    <input
      pInputText
      id="username"
      formControlName="username"
      autocomplete="off"
    />
  </section>

  <section class="flex flex-col gap-2">
    <label for="password">Password</label>
    <input
      pInputText
      id="username"
      formControlName="password"
      type="password"
      autocomplete="off"
    />
  </section>
</section>
